body {
  font-family: "Arial", sans-serif;
  margin: 50px;
  padding: 50px;
  background-color: #262626;
  color: #fff;
}

#newRecipe {
  margin: 30px;
  padding: 30px;
}

#recipeForm {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 10px;
}

input,
textarea {
  margin-bottom: 20px;
  padding: 8px;
}

button {
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

#ingredientList {
  margin-bottom: 20px;
}

#recipeContainer {
  color: #fff;
}

h1 {
  color: #4caf50;
}
